# FP Growth
 - **pip install fpgrowth-py** 
 - **pip install mlxtend**
 - **O( n * 2^m )**
   - **n : number of items**
   - **m : number of transactions**

# Comparison:
 - **fpgrowth-py** provides both **minSupport** and **minConfidence**
 - **mlextend** provides only **minSupport**

In [1]:
import pandas as pd
from mlxtend.preprocessing     import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth

itemSetList = [
    ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
    ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
    ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']
              ] 

te     = TransactionEncoder()
te_ary = te.fit( itemSetList ).transform( itemSetList )
df     = pd.DataFrame( te_ary, columns=te.columns_ )
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [2]:
fp_df = fpgrowth( df, min_support=0.6, use_colnames=True )
fp_df

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Eggs, Kidney Beans)
6       0.6       (Kidney Beans, Yogurt)
7       0.6                (Onion, Eggs)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Onion, Eggs, Kidney Beans)
10      0.6         (Milk, Kidney Beans)

#####   
## Recommending

### Read Basket

In [3]:
# input
basket = ['Kidney Beans', 'Eggs']

### Find Associated Items

In [4]:
C = set()
counter = 0
for itemSet in fp_df['itemsets']: 
    keep_searching = True
    for basketItem in basket:
        if keep_searching and basketItem in itemSet:
            counter = counter + 1
            C = C.union(itemSet)
            keep_searching = False
print(counter, C)

8 {'Milk', 'Kidney Beans', 'Eggs', 'Yogurt', 'Onion'}

### Recommend Unpurchased Items

In [5]:
R = list( set(C).difference( set(basket) ) )
R

['Onion', 'Milk', 'Yogurt']

#####

#####